* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-card {
  border: 2px solid black;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
